<div class="navbar-fixed-top">
	<div class="row-fluid header">

		<div class="max967">
			<div class="span9">
				<div class="logo">
					<div><a href="{{homeUrl}}"><img src="{{logo}}"/></a></div>
				</div>

				<div class="ui-search-box">
					<input type="text" id="searchbox" placeholder="{{searchPlaceholder}}"/>
				</div>
			</div>

			<div class="span3">
				<div class="menu">
					<div class="container-fluid">
					<span class="dropdown">
						<span class="btn btn-navbar dropdown-toggle" data-toggle="dropdown">
							<i class="icon-home"></i>
						</span>

						<ul class="dropdown-menu pull-right" id="nav" style="text-align: left;">
							<li>
								<a href="https://www.walmart.com/giftregistry/gr_linked.do?registryType=5"><b>Create</b>
									a new wishlist</a></li>
							<li><a href="https://www.walmart.com/cservice/ya_index.do"><b>Sign In</b> to your
								account</a></li>
							<li><a href="https://www.walmart.com/cart2/cart.do"><b class="willblink"><span class="cart-items">0</span>
								Items</b> in your cart</a></li>
						</ul>
					</span>
					</div>
				</div>
			</div>
		</div>

		<div class="min968">
			<div class="span7">
				<div class="logo">
					<div><a href="{{homeUrl}}"><img src="{{logo}}"/></a></div>
				</div>

				<div class="ui-search-box">
					<input type="text" id="searchbox" placeholder="{{searchPlaceholder}}"/>
				</div>
			</div>

			<div class="span5 menu">
				<div class="links">
					<a href="https://www.walmart.com/giftregistry/gr_linked.do?registryType=5">
						<img src="images/icon-00.png"/><b>Create</b>
						<span>a new wishlist</span>
					</a>

					<a href="https://www.walmart.com/cservice/ya_index.do">
						<img src="images/icon-01.png"/><b>Sign In</b>
						<span>to your account</span>
					</a>

					<a class="last" href="https://www.walmart.com/cart2/cart.do">
						<img src="images/icon-02.png"/><b class="willblink"><span class="cart-items">{{cartItems}}</span> Items</b>
						<span>in your cart</span>
					</a>
				</div>
			</div>
		</div>

	</div>
</div>
