<img src="images/blank.png" data-original="{{image}}" data-placement="right" title="{{justtext ldescr}}"/>
<b>{{title}}</b>
<span>{{descr}}</span>
<em>${{price}}<span>{{cents}}</span></em>
{{#if with_discount}}
<em class="striked">${{list_price}}<span>{{list_cents}}</span></em>
{{/if}}
<i><i style="width: {{rating}};"></i></i>
