<div class="review_layer">
<div class="review_panel">

	<a class="review_close"></a>

	{{{header}}}

	<div class="review_carousel">
		{{{top-carousel}}}
	</div>

	{{{details}}}

	<div class="review_separator"></div>

	{{{related}}}

	{{{review-details}}}

	<div class="review_separator"></div>

	<a name="reviews"></a>

	{{{review-comments}}}

</div>
</div>
